* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-team-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 16px;
    width: 70%;
    margin: 32px auto;
}

.tiles-cards {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    gap: 16px;
}

.card {
    display: flex;
    /* flex: 1 1 30%; */
    flex-basis: 33.3%;
    /* max-width: 30%; */
    background-color: black;
    color: white;
    flex: 1 1 auto;
}

.card img {
    width: 25%;
    /* flex-basis: 10%; */
    
}
